mpmath==1.3.0
networkx==3.1
transformers==4.41.0
jsonlines==4.0.0
fsspec==2023.6.0
sentry-sdk==2.27.0
Jinja2==3.1.2
datasets==2.14.5
charset-normalizer==3.2.0
pillow==10.2.0
accelerate==0.27.2
wandb==0.19.10
annotated-types==0.5.0
urllib3==2.0.5
typing_extensions==4.8.0
pydantic_core==2.10.1
python-dateutil==2.8.2
nvidia-nccl-cu11==2.14.3
Fraction==2.2.0
nvidia-cuda-cupti-cu11==11.7.101
exceptiongroup==1.1.3
packaging==23.1
regex==2023.8.8
pytz==2023.3.post1
nvidia-cusolver-cu11==11.4.0.1
protobuf==6.30.2
aiohttp==3.8.5
multidict==6.0.4
tokenizers==0.19.1
numpy==1.26.0
multiprocess==0.70.15
anyio==3.7.1
idna==3.4
async-timeout==4.0.3
certifi==2023.7.22
nvidia-cuda-nvrtc-cu11==11.7.99
PyYAML==6.0.1
cmake==3.27.5
pyarrow==13.0.0
pip==25.0
tzdata==2023.3
setuptools==75.8.0
setproctitle==1.3.5
nvidia-cufft-cu11==10.9.0.58
lit==17.0.1
nvidia-curand-cu11==10.2.10.91
nvidia-cublas-cu11==11.10.3.66
click==8.1.8
GitPython==3.1.44
sentencepiece==0.1.99
aiosignal==1.3.1
nvidia-cudnn-cu11==8.5.0.96
smmap==5.0.2
psutil==5.9.5
pandas==2.1.1
xxhash==3.3.0
torch==1.13.1
gitdb==4.0.12
safetensors==0.4.3
sympy==1.12
nvidia-cusparse-cu11==11.7.4.91
tqdm==4.66.1
nvidia-nvtx-cu11==11.7.91
nvidia-cuda-runtime-cu11==11.7.99
fastapi==0.103.2
starlette==0.27.0
MarkupSafe==2.1.3
docker-pycreds==0.4.0
filelock==3.12.4
pydantic==2.4.2
fire==0.5.0
huggingface-hub==0.24.2
wheel==0.45.1
platformdirs==4.3.7
sniffio==1.3.0
six==1.16.0
triton==2.0.0
peft==0.4.0
dill==0.3.7
requests==2.31.0
frozenlist==1.4.0
yarl==1.9.2
attrs==23.1.0
termcolor==2.3.0
