setproctitle==1.3.4
mpmath==1.3.0
networkx==3.1
wcwidth==0.2.13
transformers==4.41.0
jsonlines==4.0.0
nvidia-cudnn-cu12==9.1.0.70
fsspec==2023.6.0
asttokens==3.0.0
Jinja2==3.1.2
datasets==2.14.5
charset-normalizer==3.2.0
setuptools==75.1.0
pillow==10.2.0
accelerate==0.27.2
nvidia-curand-cu12==10.3.5.147
annotated-types==0.7.0
wheel==0.44.0
urllib3==2.0.5
bitsandbytes==0.45.1
typing_extensions==4.8.0
typing_extensions==4.12.2
python-dateutil==2.8.2
python-dateutil==2.9.0.post0
nvidia-nccl-cu11==2.14.3
packaging==24.2
packaging==23.1
Fraction==2.2.0
pexpect==4.9.0
nvidia-cuda-cupti-cu11==11.7.101
matplotlib-inline==0.1.7
exceptiongroup==1.1.3
exceptiongroup==1.2.2
pyparsing==3.2.1
sympy==1.13.1
wandb==0.19.6
regex==2023.8.8
pytz==2023.3.post1
nvidia-cusolver-cu11==11.4.0.1
contourpy==1.3.1
aiohttp==3.8.5
multidict==6.0.4
pip==24.2
tokenizers==0.19.1
tornado==6.4.2
pickleshare==0.7.5
zipp==3.21.0
numpy==1.26.0
multiprocess==0.70.15
nvidia-nvjitlink-cu12==12.4.127
psutil==6.1.1
psutil==5.9.5
anyio==3.7.1
idna==3.4
six==1.17.0
six==1.16.0
executing==2.1.0
async-timeout==4.0.3
protobuf==5.29.3
certifi==2023.7.22
nvidia-cuda-nvrtc-cu11==11.7.99
traitlets==5.14.3
parso==0.8.4
PyYAML==6.0.1
cmake==3.27.5
pyarrow==13.0.0
nvidia-cuda-runtime-cu12==12.4.127
ipykernel==6.29.5
pyzmq==26.2.0
stack_data==0.6.3
kiwisolver==1.4.8
tzdata==2023.3
torch==2.5.1
nest_asyncio==1.6.0
nvidia-cufft-cu11==10.9.0.58
lit==17.0.1
sentry-sdk==2.22.0
nvidia-curand-cu11==10.2.10.91
nvidia-cublas-cu11==11.10.3.66
evaluate==0.4.3
click==8.1.8
GitPython==3.1.44
jedi==0.19.2
nvidia-cufft-cu12==11.2.1.3
sentencepiece==0.1.99
pure_eval==0.2.3
aiosignal==1.3.1
nvidia-nccl-cu12==2.21.5
comm==0.2.2
matplotlib==3.10.0
nvidia-cudnn-cu11==8.5.0.96
fonttools==4.56.0
smmap==5.0.2
triton==3.1.0
nvidia-cusparse-cu12==12.3.1.170
pandas==2.1.1
xxhash==3.3.0
gitdb==4.0.12
safetensors==0.4.3
nvidia-cusparse-cu11==11.7.4.91
tqdm==4.66.1
nvidia-nvtx-cu11==11.7.91
cycler==0.12.1
sortedcontainers==2.4.0
nvidia-cuda-runtime-cu11==11.7.99
fastapi==0.103.2
starlette==0.27.0
MarkupSafe==2.1.3
docker-pycreds==0.4.0
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cusolver-cu12==11.6.1.9
filelock==3.12.4
Pygments==2.19.1
pydantic_core==2.27.2
ipython==8.31.0
pydantic==2.10.6
fire==0.5.0
huggingface-hub==0.24.2
ptyprocess==0.7.0
nvidia-nvtx-cu12==12.4.127
importlib_metadata==8.6.1
sniffio==1.3.0
debugpy==1.8.12
jupyter_core==5.7.2
platformdirs==4.3.6
peft==0.4.0
dill==0.3.7
requests==2.31.0
jupyter_client==8.6.3
prompt_toolkit==3.0.50
frozenlist==1.4.0
nvidia-cuda-cupti-cu12==12.4.127
yarl==1.9.2
nvidia-cublas-cu12==12.4.5.8
attrs==23.1.0
decorator==5.1.1
termcolor==2.3.0
typeguard==4.3.0
jaraco.context==5.3.0
more-itertools==10.3.0
inflect==7.3.1
jaraco.text==3.12.1
tomli==2.0.1
jaraco.collections==5.1.0
platformdirs==4.2.2
typing_extensions==4.12.2
importlib_metadata==8.0.0
autocommand==2.2.2
packaging==24.1
wheel==0.43.0
backports.tarfile==1.2.0
zipp==3.19.2
importlib_resources==6.4.0
jaraco.functools==4.0.1
